# Note: These files are kept for development purposes only.
!tools/launch.template.json
!tools/settings.template.json
!tools/setup_vscode.py
!extensions.json
!tasks.json
/.vscode

# Ignore all other files
/*.json
.python.env
/data
/eval_result
/policy/**/data*/**
/policy/**/outputs*/**
/policy/**/checkpoints*/**
/dump
**/__pycache__

/.env_isaaclab
.localrc.sh
cvt.sh
__tracked_surface.stl
/sanity_check/*
/*.mp4
!/assets/embodiments/franka/*

/third_party/curobo
/third_party/isaacsim
/third_party/isaacsim_isaacsim_link
/third_party/libuipc-samples

/policy/VTLA/LLama*
/policy/act_data/**
/policy/ACT_Predict/**/*.ckpt
/assets/objects/ipt/*
/assets/objects/tmp/*

/assets/textures/*
textures.zip
!/assets/textures/Cherry.mdl
!/assets/textures/Cherry/
!/assets/textures/Cherry/*.png

/encoder/.vscode
/encoder/checkpoints*
/encoder/ablation/*
/encoder/gf225/*
/encoder/mix/*
/encoder/tmp*

**/act-ckpt/*
/*.png
**/tmp.png
